build/
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.pyc
__pycache__/
*.log
*.swp
*.swo
*.tmp
*.bak
*.old
*.DS_Store
.vscode/
.idea/
.env
venv/
.envrc
*.egg-info/
*.tar.gz
*.zip
*.tgz
*.tar
*.gz
*.7z
*.bin
*.out
*.class
*.pdb
*.idb
*.ilk
*.pch
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.user
*.suo
*.ncb
*.sdf
*.cache
*.vs/
conanbuild*
conanrun*
deactivate_conan*

